
		.nav a,
		.nav ul,
		.nav li,
		.nav div,
		.nav form,
		.nav input {
			margin: 0;
			padding: 0;
			border: none;
			outline: none;
		}
		.nav a
		{
			text-decoration: none;
		}
		.nav li
		{
			list-style: none;
		}
		.nav {
			display: inline-block;
			position: relative;
			cursor: default;
			z-index: 500;
		}
		
		/* Menu List */
		.nav > li {
			display: block;
			float: left;
		}
		.nav > li > a {
			position: relative;
			display: block;
			z-index: 510;
			height: 54px;
			padding: 0 20px;
			line-height: 54px;
			font-family: Helvetica, Arial, sans-serif;
			font-weight: bold;
			font-size: 13px;
			color: #fcfcfc;
			text-shadow: 0 0 1px rgba(0,0,0,.35);

			background: #03a9f4;
		}
		.nav > li:hover > a { 
			color: black;
			background: white; 
		}

		.nav > li:first-child > a {
			border-radius: 3px 0 0 3px;
			border-left: none;
		}

		/* Search Form */
		.nav > li > div {
			position: absolute;
			display: block;
			width: 100%;
			top: 50px;
			left: 0;
			opacity: 0;
			visibility: hidden;
			overflow: hidden;

			background: #ffffff;
			border-radius: 0 0 3px 3px;
		}
		.nav > li:hover > div {
			opacity: 1;
			visibility: visible;
			overflow: visible;
		}

		/* Menu Content Styles */
		.nav .nav-column {
			float: left;
			width: 20%;
			padding: 2.5%;
		}

		.nav .nav-column h3 {
			margin: 20px 0 10px 0;
			line-height: 18px;
			
			font-family: Helvetica, Arial, sans-serif;
			font-weight: bold;
			font-size: 14px;
			color: #372f2b;
			text-transform: uppercase;
		}

		.nav .nav-column h3.orange { color: #ff722b; }

		.nav .nav-column li a {
			display: block;
			line-height: 26px;
			
			font-family: Helvetica, Arial, sans-serif;
			font-weight: bold;
			font-size: 16px;
			color: #888888;
		}

		.nav .nav-column li a:hover { color: #666666; }
		.hassub
		{
			display: block;
			position: relative;
			float: left;
			line-height: 30px;
			background-color: #4FA0D8;
			border-right:#CCC 1px solid;
		}
		.hassub a
		{
			color: #FFFFFF;
			text-decoration: none;
		}

	    .hassub:hover > ul 
		{
			display:block;
			position:absolute;
		}


		.home:hover > ul ul.change
		{
			display: block;
			position: static;
			top:0;
			left: 215px;
		}
		.fix:hover > ul.change
		{
			display: none;
		}
		.dropdown 
		{
			display: none;
		}
		.dropdown li 
		{
			background-color: white;
			line-height: 50px;
			width: 210px;
			padding: 0 0 0 5px;
		}
		.dropdown li:hover
		{
			background-color: #eee;

		}
		.dropdown li .dropdown li
		{
			background-color: #f5f5f5;
		}
		.dropdown li .dropdown li:hover
		{
			background-color: #6c757d;
		}
		.dropdown li a
		{
			color: #000000;
			padding-left: 10px;
		}
		ul
		{
			list-style: none;
			margin: 0;
			padding: 0px; 
			min-width:10em;
		}
		ul ul ul
		{
			left: 100%;
			top: 0;
			margin-left:1px;
		}